.footer{
    max-width: 1920px; 
    margin: 0 auto;
  }
  .footerContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 0% 5%;
  }
  /* .footerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  } */
  .footer .logo img{
    width: 100%; 
  }
  .footer .footerLine{
    width: 45%;
    max-width: 45%;
    margin: 0 4em;
    border-top: solid var(--primary-limeGreen) 1px;
  }
  