/* HOME PAGE */

.home{
  /* max-width: 1920px; 
  margin: 0 auto; */
    /* position: absolute;
    background: url("../images/homeplant01.png") no-repeat;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto; */
    /* height: 100vh; */
    background: url("../images/homeplant01.png") no-repeat center -100px;
    background-size: 1140px;
    background-position: 108% -100px;
}

/* HOME HERO INTRO */

.HomeHeroContainer{
  position: relative;
  padding: 6% 0% 6%;
  text-align: left;
}
.HomeHeroContainer h1{
  margin-bottom: 20px;
}
.HomeHeroContainer h3{
  margin: 0px;
  color: var(--primary-limeGreen);
}
.HomeHeroButtons{
  padding: 4% 4% 0% ;
}
.HomeHeroButtons button.reg{
  background-color: var(--actions-red);
  color: var(--primary-white);
  margin-right: 3%;
}
.HomeHeroButtons button.log{
  background-color: var(--actions-green);
}


/* PLANT OF THE DAY */
.plantOfTheDayContainer{
  position: relative;
}
.plantOfTheDay{
  background-color: var(--primary-limeGreen);
  border-radius: 2.5em;
  overflow: hidden;
}
.plantOfTheDayText{
  text-align: left;
  color: var(--primary-darkGray);
  width: 50%;
  padding: 2% 3%;
}
.plantOfTheDayText h1{
  margin: 5px 0px 0px;
}
.plantOfTheDayText h2{
  margin: 15px 0px 3px;
  line-height: 1em;
}
.plantOfTheDayText h3{
  margin: 0px 0px 20px;
}
.plantOfTheDayText h4{
  margin: 20px 0px 0px;
}
.plantOfTheDayText p{
  margin: 0px 0px;
  font-weight: 600;
}

.plantOfTheDayText p.users{
  margin: 0px 0px;
  font-weight: 900;
  color: var(--actions-red);
}

.plantOfTheDayPic{
  position: absolute;
  right: 3%;
  top: 12%;
  background-color: var(--primary-limeGreen);
  color: var(--primary-gray);
  width: 48%;
  height: 100%;
  border-radius: 1.7em;
  overflow: hidden;
  transition: border-radius 0.3s;
}
.plantOfTheDayPic:hover{
  border-radius: 2.2em;
}

.plantOfTheDayPic img{
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* to be replaced */
.searchies{
  width: 100%;
  margin-top: 130px;
  text-align: center;
}
.searchies input{
  width: 60%;
  padding: 20px 30px;
  font-size: 1.3em;
  color: var(--actions-red);
  border: none;
  border-radius: 100px;
  background: var(--primary-white) url("../images/icon_search_red.svg") no-repeat right 25px center;
  background-size: 4.5%;
  transition: background-size 0.2s;
}
.searchies input:focus{
  background: var(--primary-limeGreen) url("../images/icon_search_red.svg") no-repeat right 25px center;
  background-size: 5%;
  border: none;
  outline: 0;
}
.searchies input::placeholder {
  font-size: 1.2em;
  color: var(--actions-red)
}