/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-darkGreen);
  color: var(--primary-white);
} */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Abel', 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-darkGreen);
  color: var(--primary-white);
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h1, h2, h3, h4 ,h5, h6{
  font-family: 'Rubik', 'sans-serif';
  font-weight: 900;
}
h1{
  font-size: 3.4em;
}
h2{
  font-size: 2.7em;
}
h3{
  font-size: 1.6em;
}

h4, h5, h6{
  font-weight: 800;
}
h4{
  font-size: 1.3em;
}
p{
  font-size: 1em;
  font-weight: 500;
}

.rubik {
  font-family: 'Rubik', monospace;
  font-weight: 400;
  font-style: normal;
}
.abel {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-style: normal;
}


.App {
  margin: 0 auto;
  max-width: 1920px;
}

/* COLOUR VARS */
:root {
  --primary-darkGreen: #0B2D26;;
  --primary-limeGreen: #E6F3B2;
  --primary-gray: #353535; /* #2D2D2D */
  --primary-white: #FFFFFF;

  --actions-red: #FF5050;
  --actions-green: #D9FD53;

  --secondary-lilac: #E6F3B2;
  --secondary-brown: #C59276;
}

.logo a{
  text-decoration: none;
  color: var(--primary-limeGreen);
  font-size: 2em;
}
/* NAV */
.topNav{
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
.navLinks a{
  text-decoration: none;
  color: var(--actions-red);
  font-size: 1.5em;
}
.navLinks a:hover{
  text-decoration: none;
  color: var(--actions-green);
  font-size: 1.5em;
}
.navLinks ul{
  list-style-type: none;
  display: flex;
  gap: 5px
}

/* PLANT OF THE DAY */
.plantOfTheDayContainer{
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.plantOfTheDay{
  background-color: var(--primary-limeGreen);
  border-radius: 2.5em;
  overflow: hidden;
}
.plantOfTheDayText{
  color: var(--primary-gray);
  width: 45%;
  padding: 2% 3%;
}
.plantOfTheDayText h1{
  margin: 5px 0px 0px;
}
.plantOfTheDayText h2{
  margin: 15px 0px 0px;
}
.plantOfTheDayText h3{
  margin: 0px 0px 30px;
}
.plantOfTheDayText h4{
  margin: 20px 0px 0px;
}
.plantOfTheDayText p{
  margin: 0px 0px;
  font-weight: 600;
}

.plantOfTheDayText p.users{
  margin: 0px 0px;
  font-weight: 900;
  color: var(--actions-red);
}

.plantOfTheDayPic{
  position: absolute;
  right: 3%;
  top: 12%;
  background-color: var(--primary-limeGreen);
  color: var(--primary-gray);
  width: 50%;
  height: 100%;
  border-radius: 2.2em;
  overflow: hidden;
}
.plantOfTheDayPic img{
  width: 110%;
}
