
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("../images/homeplant01.png") no-repeat;
  background-size: 1300px;
  background-position: 100% -100px; */
  background-color: var(--primary-darkGreen);
  color: var(--primary-white);
}

*, *::before, *::after {
  box-sizing: inherit;
}


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


h1, h2, h3, h4 ,h5, h6, form, button, input, textarea, label{
  font-family: 'Rubik', 'sans-serif';
  font-weight: 900;
}
h1{
  font-size: 3.4em;
}
h2{
  font-size: 2.7em;
}
h3{
  font-size: 1.6em;
}

h4, h5{
  font-weight: 800;
}
h4{
  font-size: 1.3em;
}
h6{
  font-weight: 700;
}
p{
  font-size: 1em;
  font-weight: 500;
}
input, label{
  font-weight: 800;
}
textarea{
  font-weight: 700;
  resize: vertical;
}
button{
  font-size: 1.4em;
  margin: 0px;
  padding: 0.6em 1.3em;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  transition: border-radius 0.5s, transform 0.25s; 
}
button:hover{
  border-radius: 0.8em;
}
button:active{
  transform: scale(0.97);
}

.App {
  max-width: 1920px; 
  margin: 0 auto;
}
.AppContainer{
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.noHomeContainer
{
  position: relative;
  padding-top: 6%;
}

/* FONTS */

:root {
  --primary-darkGreen: #0B2D26;;
  --primary-limeGreen: #E6F3B2;
  --primary-gray: #728990;

  --primary-darkGray: #2D2D2D;
  --primary-white: #FFFFFF;

  --actions-red: #FF5050;
  --actions-green: #D9FD53;

  --secondary-lilac: #D5BFD8;
  --secondary-brown: #C59276;
}

.logo a{
  text-decoration: none;
  color: var(--primary-limeGreen);
  font-size: 1.2em;
}
.navLinks a{
  text-decoration: none;
  color: var(--actions-red);
}
.navLinks ul{
  list-style-type: none;
}

.App {
  text-align: center;
}

@import url(./navStyles.css);
@import url(./homeStyles.css);
@import url(./listingHomeStyles.css);
@import url(./listingDetailsStyles.css);
@import url(./profileStyles.css);
@import url(./forms.css);
@import url(./footer.css);