.listingDetails {  
  padding-top: 7%;
  text-align: left;
  display: flex;
  /* Children */

  .listingsContainer{
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: var(--primary-gray);
    border-radius: 2em;
  }
  /* each listing component */
  .listing{
    display: flex;
    flex-direction: row-reverse;
    width: 33%;
    padding-bottom: 0.7em;
  }
  /* got flex with listinContainer below */
  .imgContainer{
    flex: 0 0 42%;
    position: relative;
    width: 100%;
    border-radius: 1.2em;
    margin: -1.7em 2em 1.7em 0;
    overflow: hidden;
  }
  .imgContainer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .listingContent{
    position: relative;
    text-align: left;
    margin: 6% 3% 3.5%;
    
    h1.title{
      position: absolute;
      top: -1.65em;
      left: -0.7em;
      font-size: 3.6em;
  
    }
    h1{
      font-size: 1.8em;
      margin: 5px 0px 0px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3{
      font-style: italic;
      font-size: 1.4em;
      margin: 10px 0px 0px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h6{
      font-style: italic;
      font-size: 1em;
      margin: 3px 0px 0px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p{
      text-align: left;
      font-size: 1em;
      margin: 20px 0px 35px;
    }
    button {
      position: absolute;
      bottom: -2.4em;
      left: -1.8em;
      padding: 0.4em 3em;
      border-radius: 100px;
      background-color: var(--actions-red);
      color: var(--actions-green)
    }
  }

  
  
}

.listingDetailsContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  /* listingUserDetails */
  .listingUserDetails{
    text-align: left;
    display: flex;
    gap: 10px;
    p{
      margin: 0;
    }
  }
  /* listing icons */

  .listingActions{
    display: flex;
    align-items:flex-end;
    gap: 1em;
    text-align: center;
    }
    .listingActions img{
    width: 50px;
    }
    .listingActions img:hover{
      filter:  saturate(96%) hue-rotate(92deg)brightness(340%);
    }
    .listingActions p{
      font-size: 0.6em;
      text-align: center;
      margin: 5px 0 0 0;
    }
    .listingMessages{
    opacity: 0.2;
    }
  
    .listingLocation{
    opacity: 0.2;
    }
  
    .listingWishlist{
    background: none;
    }

}

  