/* TOP NAV */
.topBar{ /* I need to find a way to use pos: abs */
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 1em;
  height: 100px;
  z-index: 100;
  position: absolute;

  .logo img{
    width: 15em;  
  }
  .topSearch{
    width: 3.5em; 
  }
  
  .topBarContainer{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 90%;
  
  }
  .topBarContainer a:hover{
    filter: brightness(110%) saturate(250%) hue-rotate(28deg);
  }
  .topSearch a:hover{
    filter: brightness(110%) saturate(250%) hue-rotate(28deg);
  } 


}


.navLinks {
  ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    font-weight: 500;
  }
  ul li a {
    color: var(--primary-white);
  }
  ul li a:hover{
    text-decoration: none;
    color: var(--actions-red);
  }
}
